# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.iml

# Java / Maven
target/
*.class
*.log

# Secrets
.env
.env.*
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sonar / scanner
.scannerwork/

# Temporary files
tmp/
temp/
